
* {
    
  margin: 0;
  padding: 0;

 }

 body::before{
  content: "";
  background-image: url('zdjecia/logo.jpg');
  background-size: 260px;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
 }

#menu-container{
 display:flex;
 justify-content: center;
 position: relative;
 text-align: center;
}  
#menu {
font-family: 'Cambria', Arial, Helvetica, sans-serif;
list-style-type: none;
z-index: 1;
}

#menu li {
float: left; 
position: relative;
list-style-type: none;
background-color:black;
padding:15px;
}
#menu a {
display: block;
text-decoration: none;

width: 150px;
color: #fff;
font-size: 18px;
text-align: center;
float: left;
}

#menu ul {
position: absolute;
top: 50px;
left: 0;
width: 100%;
display: none;

}

#menu li:hover{
 background-color: grey;
}
#menu li:hover ul {
display: block;
z-index: 2;
} 
 h2{
  text-align: center;
  font-family: 'Cambria', Arial, Helvetica, sans-serif;
  position: relative;

 }

 #instrumenty{

  color:rgb(5, 5, 5);
  clear: both; 
  position: relative; 
  z-index: 1; 
  padding: 20px 0px 20px 0px;
  margin:20px 0px 30px 0px;

  justify-content: space-between;
  text-align: center;
 }
 p{
   margin-bottom: 40px;
   font-family: 'Cambria', Arial, Helvetica, sans-serif;
 }
 .button{
   z-index: 1;
   clear: both;
   position: relative;
  text-align: center;
  font-family: 'Cambria', Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
  font-size: large;
  padding: 5px 5px 5px 5px;
  margin: 50px 0px 20px 0px;
  border: 2px solid black;
  border-radius: 5px;
  box-sizing: 20px;
 }
 .text{
   z-index: 1;
   clear:both;
   opacity: 10;
   text-align: center;
   display: none;
   padding: 5px 5px 5px 5px;
 }
 .footer {
  background-color: black;
  display:flex;
  justify-content: space-around; 
  text-align: center;
  clear: both; 
  position:relative;
  bottom:0; 
  z-index: 1; 
  height: 150px; 
  width:100%;
  margin-top: 5px;
  padding: 20px 0 0 0;
  font-family: 'Cambria', Arial, Helvetica, sans-serif;
 }

 
 
 .footer-list-wrap {
   float: left;
 }
 
 
 .footer-links-sub li {
   display: block;
   list-style-type: none;
   margin: 0;
   padding: 1px 0;
   color: white;
   font-family: 'Cambria', Arial, Helvetica, sans-serif;
   text-transform: uppercase;
 }

 .footer-links-sub li a{
   text-decoration: none;
   color: white;
   padding: 5px 0;
   display: block;
 }
 .footer-header{
     color: white;
     font-size:large;
     text-decoration:solid;
     text-transform: uppercase;
     padding: 0 0 10px 0;
 }

 .footer-links-sub li a:hover {
   text-decoration: underline;
   color: white;
   cursor: pointer;
 }

 .footer-social {
   text-align: center;
   width:180px;
 }
 
 .footer-social ul {
   display: block;
   list-style-type: none;
 }

 .footer-social li a {
   float: left;
   margin: 0 15px 0 0;
   padding: 0;
 }

